<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>dataArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>0</string>
				<key>title</key>
				<string>大陸地區</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<real>1500</real>
				<key>isVip</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>1</string>
				<key>title</key>
				<string>韓國地區</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<integer>2500</integer>
				<key>isVip</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>2</string>
				<key>title</key>
				<string>日本地區</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<integer>2500</integer>
				<key>isVip</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>3</string>
				<key>title</key>
				<string>歐美地區</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<integer>2500</integer>
				<key>isVip</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>4</string>
				<key>title</key>
				<string>網友分享</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<integer>5000</integer>
				<key>isVip</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>5</string>
				<key>title</key>
				<string>VIP專區</string>
				<key>detail</key>
				<string>視頻|圖片</string>
				<key>reqCurrency</key>
				<real>10000</real>
				<key>isVip</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>6</string>
				<key>title</key>
				<string>吐血推荐</string>
				<key>detail</key>
				<string>有趣|好玩</string>
				<key>reqCurrency</key>
				<real>10000</real>
				<key>isVip</key>
				<true/>
				<key>url</key>
				<string>http://www.baidu.com</string>
				<key>description</key>
				<string>免费进入</string>
				<key>hidden</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>center</key>
	<dict>
		<key>serverDataArray</key>
		<array>
			<dict>
				<key>server</key>
				<string>香港1号线</string>
				<key>ip</key>
				<string>hk01.dearip.me</string>
				<key>flag</key>
				<string>HK</string>
				<key>ping</key>
				<string>较慢</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>台湾1号线</string>
				<key>ip</key>
				<string>tw01.dearip.me</string>
				<key>flag</key>
				<string>TW</string>
				<key>ping</key>
				<string>较慢</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>新加坡1号线</string>
				<key>ip</key>
				<string>sg01.dearip.me</string>
				<key>flag</key>
				<string>SGP</string>
				<key>ping</key>
				<string>流畅</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>英国1号线</string>
				<key>ip</key>
				<string>uk01.dearip.me</string>
				<key>flag</key>
				<string>UK</string>
				<key>ping</key>
				<string>流畅</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国1号线</string>
				<key>ip</key>
				<string>us01.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国2号线</string>
				<key>ip</key>
				<string>us02.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国3号线</string>
				<key>ip</key>
				<string>us03.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国4号线</string>
				<key>ip</key>
				<string>us04.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国5号线</string>
				<key>ip</key>
				<string>us05.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国6号线</string>
				<key>ip</key>
				<string>us06.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国7号线</string>
				<key>ip</key>
				<string>us07.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国8号线</string>
				<key>ip</key>
				<string>us08.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国9号线</string>
				<key>ip</key>
				<string>us09.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>美国10号线</string>
				<key>ip</key>
				<string>us10.dearip.me</string>
				<key>flag</key>
				<string>USA</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本1号线</string>
				<key>ip</key>
				<string>jp01.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本2号线</string>
				<key>ip</key>
				<string>jp02.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本3号线</string>
				<key>ip</key>
				<string>jp03.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本4号线</string>
				<key>ip</key>
				<string>jp04.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本5号线</string>
				<key>ip</key>
				<string>jp05.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本6号线</string>
				<key>ip</key>
				<string>jp06.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>日本7号线</string>
				<key>ip</key>
				<string>jp07.dearip.me</string>
				<key>flag</key>
				<string>JP</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>香港2号线</string>
				<key>ip</key>
				<string>hk02.dearip.me</string>
				<key>flag</key>
				<string>HK</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>台湾2号线</string>
				<key>ip</key>
				<string>tw02.dearip.me</string>
				<key>flag</key>
				<string>TW</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>server</key>
				<string>荷兰1号线</string>
				<key>ip</key>
				<string>hl02.dearip.me</string>
				<key>flag</key>
				<string>NL</string>
				<key>ping</key>
				<string>高速</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>baseCurrency</key>
	<integer>0</integer>
	<key>currency</key>
	<dict>
		<key>spinCost</key>
		<integer>50</integer>
		<key>guessCost</key>
		<integer>100</integer>
		<key>guessMultiple</key>
		<integer>3</integer>
	</dict>
	<key>alert</key>
	<dict>
		<key>descriptionText</key>
		<string>答：请不要着急，大陆用户因为政策问题，导致很多网站浏览不了，多换下VPN服务器再试下。</string>
		<key>loadDescriptionText</key>
		<string>尊敬的用户，（由于原因你懂的）网页加载失败请重新刷新页面或更换VPN线路返回观看其他资源</string>
		<key>vipMsg</key>
		<string>您可以花费500金币激活VIP服务。VIP用户可享受无限流量的高速专线服务器。</string>
		<key>vpnMsg</key>
		<string>尊敬的用戶，VPN服務需要激活，只需要看视频下载2个游戏即可完成激活（如果点激活按钮没反应，请重启应用或稍后再试）</string>
		<key>vipCount</key>
		<integer>500</integer>
		<key>vpnCount</key>
		<integer>2</integer>
		<key>tipMsg</key>
		<string>尊敬的用戶，經檢測您的IP地址來自中國大陸（你懂的），需要開啟VPN才能觀看完整內容！</string>
	</dict>
</dict>
</plist>
